<style>
    .container {
        padding-bottom: 40;
    }
</style>

<script>
    function configureUIComponents() {

        //When clicking, this will invoke the button
        // document.querySelector('submitBtn').click("submitFormToServer()");
        document.querySelector('resetBtn').click(resetAllData);
    }

    function resetAllData() {
        if (prompt('Are you sure you want to reset the form?')) {
            for (control in document.querySelectorAll('form-control')) {
                control.innerHtml = "";
            }
        }
    }

    document.addEventListener("load", configureUIComponents);
</script>

<div class="container">
    <h1>Mortgage House Form</h1>

    <form #mortageForm="ngForm">
        <h2>Contact Details</h2>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="dtoObj.contactDto.FirstName" name="firstName" #name="ngModel">
            <div [hidden]="" class="alert alert-danger">
                This field is required
            </div>
        </div>

        <div class="form-group">
            <label for="middleName">Middle Name</label>
            <input type="text" class="form-control" id="middleName" name="middleName">
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="dtoObj.contactDto.LastName" name="lastName" #name="ngModel">
            <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          This field is required
        </div> -->
        </div>

        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="tel" class="form-control" id="phoneNumber" required [(ngModel)]="dtoObj.contactDto.DateOfBirth" name="phoneNumber" #name="ngModel">
            <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          This field is required
        </div> -->
        </div>

        <div class="form-group">
            <label for="DOB">Date of Birth</label>
            <input type="text" class="form-control" id="DOB" required [(ngModel)]="dtoObj.contactDto.DateOfBirth" name="DOB" #name="ngModel">
            <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          This field is required
        </div> -->
        </div>

        <h2>Address Details</h2>
        <div class="form-group">
            <label for="streetNumber">Street Number</label>
            <input type="text" class="form-control" id="streetNumber" required [(ngModel)]="dtoObj.addressDto.StreetNumber" name="streetNumber" #name="ngModel">
            <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          This field is required
        </div> -->
        </div>

        <div class="form-group">
            <label for="streetOption">Street Type</label>
            <select class="form-control" id="streetOption" required [(ngModel)]="dtoObj.addressDto.StreetOption" name="streetOption" #streetOption="ngModel">
        <option *ngFor="let item of streetOptions" [value]="0">{{item}}</option>
        <option *ngFor="let item of streetOptions" [value]="1">{{item}}</option>
        <option *ngFor="let item of streetOptions" [value]="2">{{item}}</option>
      </select>
            <!-- <div [hidden]="streetOption.valid || streetOption.pristine" class="alert alert-danger">
          Please select a valid street type
        </div> -->
        </div>

        <div class="form-group">
            <label for="suburb">Suburb</label>
            <input type="text" class="form-control" id="suburb" required [(ngModel)]="dtoObj.addressDto.Suburb" name="suburb" #name="ngModel">
            <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          This field is required
        </div> -->
        </div>

        <div class="form-group">
            <label for="postcode">Postcode</label>
            <input type="number" class="form-control" id="postcode" required [(ngModel)]="dtoObj.addressDto.Suburb" name="postcode" #name="ngModel">
            <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          This field is required
        </div> -->
        </div>

        <div style="display: inline;">
            <button id="submitBtn" type="submit" class="btn btn-success" (click)="submitFormToServer()">Submit</button> &nbsp;
            <button id="resetBtn" type="reset" class="btn btn-outline-secondary">Reset</button>
        </div>
    </form>
</div>