<style>
    .container {
        padding-bottom: 40;
    }
</style>

<script>
    let regex_postcode = "/^[0-9]{4}$/";
    let regex_phoneNumber = "/^[0-9]{10}$/";
    let regex_streetNumber = '/^[a-zA-Z]^[0-9]{1}$/';
    let regex_contactName = "/^[a-zA-Z]{3,}$/";

    //Contact Details
    function firstNameResult() {
        return document.querySelector('firstName').innerHTML
    }

    function middleNameResult() {
        return document.querySelector('middleName').innerHTML
    }

    function lastNameResult() {
        return document.querySelector('lastName').innerHTML
    }

    function phoneNumberResult() {
        return document.querySelector('phoneNumber').innerHTML
    }

    function dateOfBirthResult() {
        return document.querySelector('DOB').innerHTML
    }

    //Address Details





    function configureUIComponents() {

        //Read the regular expression and check to see that each field on the form has conformed to the correct format
        //If any of them fail, then the submit is disabled, else it is enabled

        document.getElementById('firstName').addEventListener('onfocusout', () => {

            //Read the string and compare the query
            if (!firstNameResult().match(regex_contactName)) {

                //Show the error and update the div entry
                alert('FIRST NAME BROKEN');
            }

            alert('FIRST NAME BROKEN');
        });
    }



    function confirmFormSubmission() {
        //Check the regular expressions to see if the user has typed in the correct details
    }

    // function resetAllData() {
    //     for (control in document.querySelectorAll('form-control')) {
    //         control.innerHtml = "";
    //     }
    // }

    document.addEventListener("load", configureUIComponents);
</script>

<div class="container">
    <h1>Mortgage House Form</h1>

    <form #mortageForm="ngForm">
        <h2>Contact Details</h2>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="dtoObj.ContactItem.FirstName" name="firstName" #value="ngModel" #name="ngModel">
            <div [hidden]="" class="alert alert-danger">
                This field is required
            </div>
        </div>

        <div class="form-group">
            <label for="middleName">Middle Name (Optional)</label>
            <input type="text" class="form-control" id="middleName" [(ngModel)]="dtoObj.ContactItem.MiddleName" name="middleName" #value="ngModel" #name="ngModel">
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="dtoObj.ContactItem.LastName" name="lastName" #value="ngModel" #name="ngModel">
            <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          This field is required
        </div> -->
        </div>

        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="tel" class="form-control" id="phoneNumber" required [(ngModel)]="dtoObj.ContactItem.PhoneNumber" name="phoneNumber" #value="ngModel" #name="ngModel">
            <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          This field is required
        </div> -->
        </div>

        <div class="form-group">
            <label for="DOB">Date of Birth</label>
            <input type="text" class="form-control" id="DOB" required [(ngModel)]="dtoObj.ContactItem.DateOfBirth" name="DOB" #value="ngModel" #name="ngModel">
            <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          This field is required
        </div> -->
        </div>

        <h2>Address Details</h2>
        <div class="form-group">
            <label for="streetNumber">Street Number</label>
            <input type="text" class="form-control" id="streetNumber" required [(ngModel)]="dtoObj.AddressItem.StreetNumber" #value="ngModel" name="streetNumber" #name="ngModel">
            <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          This field is required
        </div> -->
        </div>

        <div class="form-group">
            <label for="streetName">Street Name</label>
            <input type="text" class="form-control" id="streetName" required [(ngModel)]="dtoObj.AddressItem.StreetName" #value="ngModel" name="streetName" #name="ngModel">
            <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                  This field is required
                </div> -->
        </div>

        <div class="form-group">
            <label for="streetOption">Street Type</label>
            <select class="form-control" id="streetOption" required [(ngModel)]="dtoObj.AddressItem.StreetOption" name="streetOption" #streetOption="ngModel">
        <option *ngFor="let item of streetOptions" [value]="item">{{item}}</option>
      </select>
            <!-- <div [hidden]="streetOption.valid || streetOption.pristine" class="alert alert-danger">
          Please select a valid street type
        </div> -->
        </div>

        <div class="form-group">
            <label for="suburb">Suburb</label>
            <input type="text" class="form-control" id="suburb" required [(ngModel)]="dtoObj.AddressItem.Suburb" #value="ngModel" name="suburb" #name="ngModel">
            <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          This field is required
        </div> -->
        </div>

        <div class="form-group">
            <label for="postcode">Postcode</label>
            <input type="number" class="form-control" id="postcode" required [(ngModel)]="dtoObj.AddressItem.Postcode" #value="ngModel" name="postcode" #name="ngModel">
            <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          This field is required
        </div> -->
        </div>

        <div style="display: inline;">
            <button id="submitBtn" type="submit" class="btn btn-success" (click)="submitFormToServer()">Submit</button> &nbsp;
            <button id="resetBtn" type="reset" class="btn btn-outline-secondary" (click)="resetFormData()">Reset</button>
        </div>
    </form>
</div>